*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

$c_back:#696969;
$heller: #808080;
$dark: #404040;
$c_text: rgb(249, 243, 243);

@mixin upper {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

body{
  background-color: dimgray;
  color: snow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

.displaySection{
  width: 100%;
  height: 22vh;
  background-color: $dark;
  margin-bottom: 2vh;
  padding-top: 1vh;
}

/*###############################################*/
/*################ Display ######################*/
/*###############################################*/

#zeit{
  font-size: 4em;
  font-weight: lighter;
}



/*###############################################*/
/*################## Links ######################*/
/*###############################################*/
.linkSection{
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-gap: 18px;
}

.column{
  background-color: $heller;
  padding: 4px;
}

.headCon, .linkCon{
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 1em;
}
.headBtn, .lnkBtn{
  width: 100%;
  padding: 8px 0;
  margin: 5px 0;
  border: none;
  color: $c_text;
  @include upper();
}

.headBtn{
  background-color: inherit;
}

.lnkBtn{
  background-color: $c_back ;
}



.panel{
  height: auto;
  // padding: 0 18px;
  // background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 800px) {
//   .linkSection{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 18px;
//   }
// }

// /* Medium devices (landscape tablets, 768px and up) */
// 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  body{
    font-size: 90%;
  }
  button{
    font-size: 90%;
  }
}


@media only screen and (max-width: 768px) {
  body{
    font-size: 80%;
  }
  button{
    font-size: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .linkSection{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;
  }
}