*{margin: 0px; padding: 0 px; box-sizing: border-box;}   

:root{
  --ghost:ghostWhite;
  --backG: #19404d;
  --secC:silver;
  --darker: #13303a;
  --w: #ffffff;
}
body{ 
  font-family: 'Roboto', sans-serif;
  background-color:var(--backG);
  max-width: 900px;
  margin:10px auto 0 auto;
  color: silver;
}
main{
  width: 100%;
  height: auto;
  /* background-color: darkslateblue; */
  display: flex;
  justify-content: space-around;
}
.column{
  min-width: 190px;
  height: 550px;
  padding: 0 8px;
}
button{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}
.column{
  min-width: 190px;
  height: 550px;
  padding: 0 8px;
}
.hCon{
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 33px;
  text-transform: uppercase;
  margin: 5px auto;
}

.accordCon{
  border: 2px solid var(--secC);
  border-radius: 10px;
  margin: 6px auto;
  box-shadow: 0 6px 16px -6px black;
  -webkit-box-shadow: 0 6px 16px -6px black;
}

.myB{
  border: 2px solid var(--secC);
  border-radius: 10px;
  margin: 6px auto;
  box-shadow: 0 6px 16px -6px black;
  -webkit-box-shadow: 0 6px 16px -6px black;
}
.accordCon:hover, .myB:hover{  border-color: var(--w);}

.accordion{
  width: 100%;
  height: 26px;
  background-color: var(--backG);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--secC);
  cursor: pointer;
  border-radius: 10px;
}
.myB{
  width: 100%;
  height: 30px;
  background-color: var(--backG);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--secC);
  cursor: pointer;
  border-radius: 10px;
}
.output{
  width: 100%;
  min-height: 70px;
  background-color: var(--darker);
  font-size: 14px;
  font-weight: 100;
  color: ghostwhite;
  padding: 3px;
  
}
.accordion{border-style: none; border-radius: 10px;}
.myB:hover,.accordion:hover{color: var(--w);}

.panel{ 
  height: auto;
  padding: 0px 10px;  
  background-color:var(--backG);
  border-radius: 0 0 10px 10px;
  border-top: 0;  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.row{margin: 5px 0 10px 0;
}
.half{
  padding: 12px 16px; /* Some padding */
    background-color: var(--backG);
  /* font-size: 10px;  */
  color: silver;
  border-color: silver;
  border-radius: 25px;
  /* cursor: pointer; */
  overflow: hidden;
}
.half:hover{
color: #ffffff;
border: 1px solid #ffffff;  

} 
.third{
  width: 30%;
  padding:13px 0; 
  background-color: var(--darker);
  color: silver;
  border: 2px solid silver;
  border-radius: 25px;
  /* cursor: pointer; */
  overflow: hidden;
  box-shadow: 0 6px 16px -6px black;
  -webkit-box-shadow: 0 6px 16px -6px black;
}
.third:hover{
color: #ffffff;
border: 2px solid #ffffff;  
} 

.tCon{
  height: 90px;
  width: 100%;
  color: silver; 
  text-align: center; 
  margin:  0 auto 10px auto;
  border-radius: 10px;
  background-color: var(--backG);
}
#zeit{
  font-size: 48px;
  font-weight: 100;
  line-height: 66px;
}
#datum{font-size: 12px; font-weight: 100;text-transform: uppercase;} 
