*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid lightskyblue; */
}
:root{
  --c-back: #5e5d5d;
  --snow: #fffafa;
  --nav: #696969;
  --width-page: 80%;
}
body{
  background-color: var(--c-back);
  font-family: Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: var(--snow);
}

main{
  width: var(--width-page);
  margin: 70px auto;
}
h1{
  font-size: 6vw;
  margin-bottom: 4vw;
}

/*################################################*/
/*################################################*/
/*################################################*/

.navbar{
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: var(--nav);
  color: snow;
  box-shadow:  0 4px 4px rgba(0, 0, 0, 0.02);

  &__width {
    width: var(--width-page);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-items: center;
  }
  &__title{
    display: inline-block
  }

  &__linkContainer{
    background-color: dodgerblue;
    // width: 70%;
    // display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    flex: 4;
  }

  & a{
    
    color: var(--snow);
    text-decoration: none;
    padding: 6px 10px;
  }
  & a:hover{

    background-color: var(--c-back);
  }

  &__toggle{
    display: none;
  }

}

/*################################################*/
/*################################################*/
/*################################################*/

@media (max-width: 600px){
  .navbar__toggle{
    display: flex;
  }
  .navbar__links {
    display: none;
    width: 100%;
  }
}