*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --c-mainblau: #034f67;
    --c-hellgrau: #e6e1dc;
    --c-bikini: #77212e;
    --c-dunkel: #373434;
    --c-chili: #9B2335;
    --c-alarm: #f9423a;
    --c-superblue: #4244b6;
    --c-bronze: #a6966c;
    
    --c-back: #e6e1dc;
    --c-text: #000000;
    --c-accent: #696969;
    --c-hilite: #f9423a;
    
    --sans: Arial, Helvetica, sans-serif;
    --serif:'Times New Roman', Times, serif;
    --code: 'Courier New', Courier, monospace;
    --maxW: 1000px;
    --topOffset: 4em;
    
    }
body{
    background-color: var(--c-dunkel);
    font-family: 'Cairo', sans-serif;
}
main{
   width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}
section{
    max-width: 750Px;
    min-width: 300px;
    /* max-height: 1334px; */
    height: 80%;
    margin: 0 auto;
padding: 1em .4em;
    background-color: var(--c-dunkel);
    border: 1px solid silver;
    display: grid;
   grid-template-columns: minmax(70px, 1fr) minmax(70px, 1fr) minmax(70px, 1fr)  ;
   grid-template-rows: minmax(40px, 2fr) minmax(40px, 3fr) minmax(40px, 2fr) 1fr minmax(40px, 2fr) 1fr minmax(20px, 1fr) ;
   gap: 1.5em;

}
a{
    display: block;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    color: var(--c-back);
    border: 0.15em solid var(--c-back);
    border-radius: 8%;}
button{
    background-color: var(--c-dunkel);
    color: var(--c-back);
    border: 0.15em solid var(--c-back);
    border-radius: 8%;
}
button:hover{
    color: var(--c-hilite);
    /* background-color: black; */
    border-color: var(--c-hilite);
}
.shutdown{
    grid-column:1;
    grid-row: 1;
}
.stop{
    grid-column:2;
    grid-row: 1;
}
.interface{
    grid-column:3;
    grid-row: 1;
}


.mute{
    grid-column:1;
    grid-row: 3;
}
.down{
    grid-column: 2;
    grid-row: 3;
}

.up{
    grid-column: 3;
    grid-row: 3;
}


.prev{
    grid-column: 1;
    grid-row: 5;
}
.play{
    grid-column: 2;
    grid-row: 5;
}
.next{
    grid-column: 3;
    grid-row: 5;
} 

.lichtAus{
    grid-column: 1;
    grid-row: 7;
}