<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout für home server</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <main>
    <div class="displaySection">
      <div class="timeCon">
        <div class="time" id="zeit"></div>
        <div class="time" id="datum"></div>
      </div>
    </div>
    
    <div class="linkSection">
      <div class="column" id="id_column_1">
        <div class="headCon">
          <button class="headBtn">Todos</button>
        </div>
        <div class="panel">
          <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      </div>
    </div>

    <div class="column" id="id_column_2">
      <div class="headCon">
        <button class="headBtn">Meine Seiten</button>
      </div>
      <div class="panel">
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    </div>
  </div>


    <div class="column" id="id_column_3">
      <div class="headCon">
        <button class="headBtn">Web dev</button>
      </div>
      <div class="panel">
        <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    </div>
  </div>

  <div class="column" id="id_column_4">
    <div class="headCon">
      <button class="headBtn">Offical</button>
    </div>
    <div class="panel">
      <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
    <div class="linkCon"><a href="http://localhost:8080/links/"><button class="linkBtn">Edit</button></a></div>
  </div>
</div>

  </div>







  </div>



  </main>
  

<script type="text/javascript" src="./js/time.js"></script>
<script type="text/javascript" src="./js/accordion.js"></script>
</body>
</html>